.container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    border: 1px solid black;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    width: 100px;
    height: 100px;
    font-size: 2rem;

    flex-basis: 100px;
}

.first {
    background-color: green;
}

.second {
    background-color: blue;
    order: 1;
}

.third {
    background-color: red;
    order: -1;
}

.fourth {
    background-color: black;
}

.fifth {
    background-color: violet;
}