/* .nav, .nav__item {
    outline: 1px solid;
    margin: 3px;
    padding: 3px;
} */

.nav {
    outline-color: red;
    background-color: rgb(0, 200, 250);
    padding: 10px;
}

.nav__item {
    background-color: rgb(220, 220, 220);
    outline-color: green;
    display: inline-block;
}
